node_modules
dist
.vercel
.env
.env.*
!.env.example
*.log
*.md
design-dashboard-figma/
kotlin-android-disini/
scripts/
scripts (sudahproduction) (jangandijalankan)/
expedisi-darat-erwin.code-workspace
asset_brand/
Faktur_STE_Express.xlsx
invoice_amos_ste.pdf
*.pdf
*.xlsx
dbskema.sql
.env.example
